*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#f4f4f4;
}
.auth-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#0f172a,
#111827,
#1e293b
);

padding:20px;

}

.auth-card{

width:100%;
max-width:430px;

padding:40px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 20px 60px rgba(0,0,0,.4);

text-align:center;

}

.auth-logo{

width:80px;
height:80px;

margin:auto;

display:flex;
justify-content:center;
align-items:center;

border-radius:50%;

background:#7c5cff;

font-size:34px;

color:white;

margin-bottom:25px;

}

.auth-card h1{

margin-bottom:10px;

font-size:34px;

color:white;

}

.auth-card p{

color:#94a3b8;

margin-bottom:30px;

}

.input-group{

display:flex;

align-items:center;

margin-bottom:20px;

padding:14px 16px;

background:#1e293b;

border-radius:12px;

}

.input-group input{

flex:1;

background:transparent;

border:none;

outline:none;

color:white;

font-size:16px;

margin-left:12px;

}

.input-icon{

color:#7c5cff;

}

.eye-btn{

background:none;

border:none;

cursor:pointer;

color:#94a3b8;

font-size:18px;

}

.auth-btn{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:#7c5cff;

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.auth-btn:hover{

background:#6243ff;

}

.auth-footer{

margin-top:25px;

color:#cbd5e1;

}

.auth-footer a{

margin-left:8px;

text-decoration:none;

color:#7c5cff;

font-weight:600;

}